<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Launcher Rocks</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Launcher Rocks</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Sign in with GitHub</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>


    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Launcher Rocks</h1>
          <p class="lead">Add your jam to the Launcher Rocks playlist!</p>
        </div>
      </div>

      <form action="/submission" method="post" role="form" class="form-inline">
        <div class="row">
          <div class="form-group col-lg-8">
            <input name="username" type="text" class="form-control" id="" placeholder="User Name">
            <input name="title" type="text" class="form-control" id="" placeholder="Song Name">
            <input name="artist" type="text" class="form-control" id="" placeholder="Artist">
          </div>
        </div>

        <div class="row">
          <div class="form-group ">
            <label for="url">YouTube Link</label>
            <input name="url" type="text" class="form-control" id="" placeholder="YouTube Link">
          </div>
        </div>

        <div class="row text-center">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      <!-- /.row -->
      <p><%=@message%></p>
    </div>

<div class="row">
  <div class="col-lg-12 text-center">
  <br>
    <table class="table table-striped">
      <tr class="info">
        <td>Song ID</td>
        <td>Song Title</td>
        <td>Artist</td>
        <td>Posted By</td>
        <td>YouTube Link</td>
      </tr>
      <%@song_list.each do |song|%>
      <tr>
        <td><%=song["id"]%></td>
        <td><%=song["song_name"]%></td>
        <td><%=song["artist"]%></td>
        <td><%=song["user_name"]%></td>
        <td><%=song["song_url"]%></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>

</div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
